header{
    padding: 5px 10px 15px 10px;
    background: black;
    color : white;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > a {
    color : cyan;
    text-decoration: none;
    margin: 10px;
}